BeautifulSoup==3.1.0.1
CherryPy==3.2.0
Cython==0.15.1
Django==1.3
Fabric==1.0.1
Firmant==0.2.3a1
## FIXME: could not find svn URL in dependency_links for this package:
Flask==0.9-devdev-20120405
Flask-Bootstrap==2.2.1-2dev
Flask-SQLAlchemy==0.11
Flask-Uploads==0.1.2
Flask-WTF==0.8
Jinja2==2.5.5
List==1.3.0
Markdown==2.1.0
MySQL-python==1.2.3
PIL==1.1.7
PyRSS2Gen==1.0.0
PySettings==0.1.90
PyYAML==3.10
Pygments==1.4
SPARQLWrapper==1.4.2
SQLAlchemy==0.6.6
TumblrAPI==0.3.0
Twisted==8.2.0
WTForms==1.0.2
Werkzeug==0.6.2
altgraph==0.6.8.dev
apipkg==1.0
argparse==1.2.1
bdist-mpkg==0.4.3.dev
bonjour-py==0.3
boto==2.0b3
bottle==0.10.7
commando==0.1.2a
config==0.3.7
creole==1.2
cssmin==0.1.4
decorator==3.3.2
distribute==0.6.14
docutils==0.8.1
elementtree==1.2.7-20070827-preview
facebook-python-sdk==0.1
feedparser==4.1
freebase==1.0.8
gdata==2.0.15
generateDS==2.6a
gevent==0.13.6
greenlet==0.3.3
hcluster==0.2.0
html5lib==0.90
httplib2==0.7.2
hyde==0.8.4
lxml==2.3.3
macholib==1.2.1.dev
matplotlib==1.0.0
mercurial==2.0.1
modulegraph==0.7.2.dev
mwlib==0.13.3
nltk==2.0.1rc1
numpy==1.2.1
odfpy==0.9.4
paramiko==1.7.7.1
pijnu==20111221
ply==3.4
py==1.4.6
py2app==0.4.2
pyOpenSSL==0.7
pyPdf==1.13
pycrypto==2.3
pyobjc-core==2.2b3
pyobjc-framework-AddressBook==2.2b3
pyobjc-framework-AppleScriptKit==2.2b3
pyobjc-framework-Automator==2.2b3
pyobjc-framework-CFNetwork==2.2b3
pyobjc-framework-CalendarStore==2.2b3
pyobjc-framework-Cocoa==2.2b3
pyobjc-framework-Collaboration==2.2b3
pyobjc-framework-CoreData==2.2b3
pyobjc-framework-CoreText==2.2b3
pyobjc-framework-DictionaryServices==2.2b3
pyobjc-framework-ExceptionHandling==2.2b3
pyobjc-framework-FSEvents==2.2b3
pyobjc-framework-InputMethodKit==2.2b3
pyobjc-framework-InstallerPlugins==2.2b3
pyobjc-framework-InstantMessage==2.2b3
pyobjc-framework-InterfaceBuilderKit==2.2b3
pyobjc-framework-LatentSemanticMapping==2.2b3
pyobjc-framework-LaunchServices==2.2b3
pyobjc-framework-Message==2.2b3
pyobjc-framework-PreferencePanes==2.2b3
pyobjc-framework-PubSub==2.2b3
pyobjc-framework-QTKit==2.2b3
pyobjc-framework-Quartz==2.2b3
pyobjc-framework-ScreenSaver==2.2b3
pyobjc-framework-ScriptingBridge==2.2b3
pyobjc-framework-SearchKit==2.2b3
pyobjc-framework-SyncServices==2.2b3
pyobjc-framework-SystemConfiguration==2.2b3
pyobjc-framework-WebKit==2.2b3
pyobjc-framework-XgridFoundation==2.2b3
pyparsing==1.5.6
pyserial==2.5
python-dateutil==1.2
python-twitter==0.6
python-wifi==0.3.1
## FIXME: could not find svn URL in dependency_links for this package:
pyxser==1.5.2-r2
qserve==0.2.6
rdflib==3.1.0
refine-client==0.2.1
reportlab==2.5
roman==1.4.0
simplejson==2.1.1
smartypants==1.6.0.3
sqlite3dbm==0.1.4
svmlight==0.0.0
timelib==0.2.3
-e git://github.com/hyde/typogrify@6937a8a6e60b305abe23a1be70a3c496e4d5b8ac#egg=typogrify-dev
typogrify-hyde==1.0.1a
urllib2-file==0.2.1
virtualenv==1.5.1
wsgiref==0.1.2
wxPython==2.8.8.1
wxPython-common==2.8.8.1
wxaddons==2.8.8.1
xattr==0.5
xhtml2pdf==0.0.3
zope.interface==3.5.1
