{% extends "bootstrap_responsive.html" %}


{% block body_content %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{url_for('index')}}">Prerna&amp;Shreesh</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{url_for('index')}}">Home</a></li>
              <li><a href="{{url_for('wedding')}}">Wedding</a></li>
              <li><a href="{{url_for('timeline')}}">TimeLine</a></li>
              <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{url_for('static', filename='img/cover1.jpg')}}" alt="">
        </div>
     </div>
     <!--      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
     <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
    </div><!-- /.carousel -->


    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>Getting Married!</h2>
        <p>Irrespective of whether the world ends, Prerna &amp; I are getting married on Dec 27th 2012.<br>
        Marriage will happen in Prerna's hometown of <a href="https://maps.google.com/maps?q=Satna,MP&hnear=Satna,+Madhya+Pradesh,+India&gl=us&t=v&z=12">Satna,MP</a>, and the  reception is planned in Bangalore on Jan 1st,2013<br>
        It would be a great pleasure if you can join us for the Reception and/or Wedding.
        </p>
        <p>
        Please add the events to your Calendar, so that there wont be any excuses to miss.
        </p>
        <a class="btn btn-primary btn-large"  href="http://www.google.com/calendar/event?action=TEMPLATE&text=Wedding&dates=20121227/20060102&details=Shreesh%20%26%20Prerna's%20%20Wedding%20Ceremony&location=Satna%2CMP&trp=false&sprop=http%3A%2F%2Fprerna.shreesh.in&sprop=name:prerna.shreesh.in" target="_blank">Add Wedding to Calendar &raquo;</a>


        <a class="btn btn-success btn-large"  href="http://www.google.com/calendar/event?action=TEMPLATE&text=Wedding%20Reception&dates=20130101T160000Z/20060101T050000Z&details=Shreesh%20%26%20Prerna's%20%20Wedding%20Reception.&location=Prakruthi%20Paradise%2C%20Near%20KHB%20Bus%20Station%E2%80%8E%20Magadi%20Road%2C%20Basaveshwara%20Naga%2CBangalore%2CIndia&trp=false&sprop=http%3A%2F%2Fprerna.shreesh.in&sprop=name:prerna.shreesh.in" target="_blank">Add Reception to  Calendar &raquo;</a>
      </div>

      <blockquote>The only mistake for which people are congratulated is marriage.</blockquote>
    </div>
{% endblock %}
